.navbar-nav>li:first-child {
    padding-left: 0;
}
.navbar-nav>li:first-child:before {
    border:none;
} 

.navbar-nav>li {
    position: relative;
    float:left;
    padding-left: 10px;
}
.navbar-nav>li:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-left: 12px solid #f8f8f8;
    z-index:999;
}
.navbar-nav>li:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 1px;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-left: 12px solid #e7e7e7;
    z-index:888;
}
